@import "../vars.less";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
  }
.welcome {
    text-align: center;
    font-size: 25px;
}
  
  form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    color: @gray-800;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .error-message {
    font-size: 14px;
    color: red;
    margin-top: 5px;
  }
  
.signup__btn {
    display: block;
    width: 100%;
    background-color: @gray-900;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}
  
.signup__btn:hover {
    background-color: @gray-700;
}